* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background: rgb(255, 190, 121);
    text-align: center;
}

nav {
    position: fixed;
    top: 50px;
    width: 100%;
    background: linear-gradient(to top, rgb(212, 85, 0), rgb(255, 190, 121));
    padding: 10px;
}

#navig1 {
    border-radius: 10px;
    background: url('images/garfild.png') no-repeat center;
    background-size: cover;
    height: 45px;
    width: 100px;
    padding-left: 3px;
    color: rgb(66, 33, 19);
}

#navig2 {
    background-color: rgb(151, 51, 38);
    border-radius: 10px;
    height: 45px;
    width: 120px;
    padding-left: 7px;
    display: flex;
    text-align: center;
    color: rgb(255, 190, 121);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    padding-top: 86px;
}

section {
    height: 100vh;
    padding: 10px;
    border-bottom: 5px dotted rgb(66, 33, 19);
    scroll-margin-top: 120px;
}

#section1 {
    height: 90vh;
    background: url('images/garfild.png') no-repeat center center;
    background-size: cover;
    display: flex;
    color: rgb(3, 3, 3);
}

#section1 h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(66, 33, 19);
    width: 50%;
    padding-left: 30px;
    padding-top: 40px;
}

#section2 {
    height: 90vh;
    background-color: rgb(255, 190, 121);
    background-size: cover;
    
    color: rgb(66, 33, 19);
}
#section2 table{
    padding-left: 50px;
    height: 300px;
   
}

#section2 table td{
    padding: 20px;
    border: solid 2px rgb(186, 59, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(218, 153, 84);
    border-radius: 10px;
}

#section3 {
    background-color: rgb(255, 190, 121);
    color: rgb(66, 33, 19);
}

#prevBtn {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(232, 119, 46);
    border: 3px solid rgb(66, 33, 19);
}

#nextBtn {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(232, 119, 46);
    border: 3px solid rgb(66, 33, 19);
}

#pagatavosana image{
    width: 100px;
    padding: 5px;
}

#section4 {
    background-color: rgb(255, 190, 121);
    color: rgb(66, 33, 19);
}

#cat-fact {
    border:2px solid rgb(66, 33, 19);
    background-color: rgb(255, 121, 32);
    padding: 8px;
    font-size: 25px;
}

#CatBtt {
    background-color: rgb(151, 51, 38);
    border-radius: 10px;
    height: 45px;
    width: 130px;
    color: rgb(255, 190, 121);
}

footer {
    text-align: center;
    background: lightgray;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.step {
    display: none;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.active {
    display: block;
}
button {
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}